a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  background-color: rgb(231, 159, 231);
  padding: 12px 0;
}
.nav__lists {
  margin: 0 12px;
  font-size: 24px;
}

.nav__lists--primary {
  background-color: orange;
  padding: 12px 24px;
  border-radius: 24px;
}

.btn {
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  transition: all 300ms ease;
}
.btn:hover{
    background-color: red;
}
